* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bgdki.jpg);
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 700px;
    min-height: 100px;
    padding: 16px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    /* đổi chiều trục */
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
}

    .form-control :hover {
        border-color: #1dbfaf;
    }

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #FA8072;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

    .form-submit:hover {
        background-color: #FF6347;
    }
